@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?h3b8we') format('truetype'),
    url('fonts/icomoon.woff?h3b8we') format('woff'),
    url('fonts/icomoon.svg?h3b8we#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arrow-right:before {
  content: "\e903";
}
.instagram:before {
  content: "\e900";
}
.github:before {
  content: "\e901";
}
.linkedin:before {
  content: "\e902";
}
